.CandidateCard {
    border:1px solid black;
    margin:15px;
    padding: 10px;
    color: black;
    text-decoration: none;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .6);
    transition: 0.6s;
    margin-top: 50px;
    img{
        width: 300px;
        height: 300px;
    }
    h3{
        margin: 5px;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

.CandidateCard:hover{
    transition: 0.6s;
    transform: scale(1.1);
    background-color: #157eab;
    color: white;
}

a:link{
    text-decoration: none;
}


@media only screen and (max-width: 768px) {
    body {
        width: 100%;
    }

    .CandidateCard {
        margin-right: 150px;
        width: 70%;
        height: 50%;
        img {
            width: 50%;
            height: 50%;
        }
        p {
            font-size: 14px;
        }
    }
}