.Login {
    background-color: #157eab;
    width: 100%;
    height: 775px;
    justify-content: center;
    align-items: center;

}

.Login {  
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 20px 0;
}

.loginButton {
    margin-top: 20px;
    color: white;
    border: 1px solid white;
    width: 60px;
    padding: 5px;
}