table {
    border: solid black 2px;
    margin-left: 15px;
    margin-right: 15px;
    width: 95%;
    margin-top: 15px;
    th {
        background-color: #eee;
        border-right: 2px solid black;
    }
}