.Wizard {
    width: 100%;
    display:flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 35px;
    justify-content: center;
    align-items: center;
}
.divsearch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: 100%;
    
   h1{
       margin-left: 25px;
       font-family: monospace;
   }
   input{
       margin-right: 55px;
       width: 20%;
        height: 25px;
        border-radius: 10px;
        background-color: #eee;
        border: none;
        &:focus {
            outline: none;
        }
   }
   ::placeholder {
    padding: 15px;
    color: black;
}


  
}
textarea {
    &:focus {
        outline: none;
    }
}
hr{
    color: black;
    width: 100%;
    height: 1px;
}
    .WizardCandidates {
        width: 30%;
        height: 458px;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        
        
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: solid #157eab 2px;
        border-radius: 10px;
       
        .divlista {
            span {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: #157eab;
                color: white;
                margin: 5px;
                border: white solid 1px;
            }
            b {
                color: #157eab;
            }
        }
    }
    .listWithSearch {
        width: 60%;
        display: flex;
        flex-direction: column;
        .search {
            width: 100%;
            height: 2rem;     
            display: flex;
            align-items: center;
               input {
                width: 20%;
                border-radius: 10px;
                margin-left: 3%;
            }
        }
        .ListOfCandidates {
            width: 90%;
            margin: 0 auto;
            height: 500px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            }


        }
        
         .nextbutton {
            border: #157eab solid 2px;
            background-color: white;
            color: #157eab;
            width: 100px;
            height: 35px;
            transition: 0.6s;
            border-radius: 10px;
        }
        .nextbutton:hover {
            background-color: #157eab;
            color: white;
            transition: 0.6s;
            cursor: pointer;
        }
  

    .WizardCompany {
        width: 30%;
        height: 380px;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin: 5px;
        padding-left: 125px;
        padding-top: 100px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: solid #157eab 2px;
        border-radius: 10px;
        margin-left: 25px;
        margin-top: 25px;
        .divlista {
            span {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: #157eab;
                color: white;
                margin: 5px;
                border: white solid 1px;
            }
            b {
                color: #157eab;
            }
        }
    }
    .listWithSearchCompany {
        width: 60%;
        display: flex;
        flex-direction: column;
        // .search {
        //     width: 100%;
        //     height: 2rem;     
        //     display: flex;
        //     align-items: center;
        //        input {
        //         width: 20%;
        //         border-radius: 10px;
        //         margin-left: 3%;
        //     }
        // }
        
        }
        .listComp {
            width: 90%;
            margin: 0 auto;
            height: 500px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            }     
.picture {
    display: flex;
    img {
        width: 50px;
        height: 50px;
    }
}

.nextbuttoncompany {
    border: #157eab solid 2px;
    background-color: white;
    color: #157eab;
    width: 100px;
    height: 35px;
    transition: 0.6s;
    border-radius: 10px;
    
}
.nextbuttoncompany:hover {
    background-color: #157eab;
    color: white;
    transition: 0.6s;
    cursor: pointer;
}

.line {
    background-color: black;
    height: 2px;
    margin: 15px;
    position: relative;
    margin-right: 150px;
 
 
}

.candidatename{
    font-size: 15px;
    color: grey;
}
.companyname{
    font-size: 15px;
    color: grey;
}

.date-phase-status {
    display: flex;
    margin: 15px;
    width: 100%;
    justify-content: space-between;
    input {
        width: 250px;
        border-radius: 10px;
        height: 28px;
        margin-top: 1px;
        border: solid #157eab 2px;
    }
    .react-date-picker__wrapper {
        width: 250px;
        border-radius: 10px;
        border: solid #157eab 2px;
    }
    select {
        width: 250px;
        border-radius: 10px;
        height: 28px;
        margin-top: 1px;
        border: solid #157eab 2px;
    }
}

.divnote {
    margin-left: 17px;
    textarea {
        border: solid 2px #157eab;
        border-radius: 10px;

    }
}


.nextbuttonsdetails {
    border: #157eab solid 2px;
    background-color: white;
    color: #157eab;
    width: 100px;
    height: 35px;
    transition: 0.6s;
    border-radius: 10px;
}
.nextbuttonsdetails:hover {
    background-color: #157eab;
    color: white;
    transition: 0.6s;
    cursor: pointer;
}

.detailsbuttons {
    margin-left: 720px;
    display: flex;
    margin-top: 20px;
}

.wizardreport {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 10px;
    width: 96%;
    input {
        width: 20%;
        height: 25px;
        border-radius: 10px;
        background-color: #eee;
        border: none;
        margin-right: 10px;
        &:focus {
            outline: none;
        }
    }
    ::placeholder {
        padding: 15px;
        color: black;

    }
    .linkReport,
        .linkCreate {
            border-radius: 10px;
            height: 30px;
            width: 30%;
            color: white;
            transition: 0.6s;
        
        }
        .btnReport,
        .btnCreate {
            margin-right: 20px;
            border-radius: 10px;
            height: 30px;
            width: 100%;
            color: white;
            background-color: #157eab;
            border: white 2px solid;
            transition: all 0.6s ease;
            &:hover {
                cursor: pointer;
                background-color: white;
                color: #157eab;
                transition: 0.6s;
                border: #157eab 2px solid;
            }
        }
}

.divsearch {
    justify-content: space-between;
    align-items: center;
    display: flex;
    .buttons {
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-right: 5%;
        
        .linkReport,
        .linkCreate {
            border-radius: 10px;
            height: 30px;
            width: 100%;
            color: white;
            transition: 0.6s;
        
        }
        .btnReport,
        .btnCreate {
            border-radius: 10px;
            height: 30px;
            width: 100%;
            color: white;
            background-color: #157eab;
            border: white 2px solid;
            transition: all 0.6s ease;
            &:hover {
                cursor: pointer;
                background-color: white;
                color: #157eab;
                transition: 0.6s;
                border: #157eab 2px solid;
            }
        }
    }
}

.flexrow{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.buttondiv {
    width: 100%;
    display: flex;
}

.nextbuttonDiv {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
    .WizardCandidates {
        height: 200px;
        padding-left: 20px;
        padding-top: 50px;
        .divliste {
            margin-bottom: 55px;
        }
       .divlista {
           font-size: 13px;
       }
    }
  
    .WizardCompany {
        height: 100;
        padding: 0;
    }
    .divlista {
        font-size: 13px;
    }
    
    .listFullReport .date-phase-status {
        width: 100%;
        display: inline-block;
    }
    .divnote {
        textarea {
        width: 100%;
        }
    }
    .nextbuttondetails {
        margin-top: 10px;
        display: flex;
    }
    .nextbuttonsdetails {
        margin-left: 17px;
    }
}
