.BackEndPage {
    width: 100%;
   .divsearch {
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    display: flex;
    .buttons {
        margin-right: 35px;
    }
    }
    h1 {
        display: flex;
        font-family: monospace;
    }
    input {
        width: 20%;
        height: 25px;
        border-radius: 10px;
        background-color: #eee;
        border: none;
        margin-left: 22px;
    }
    ::placeholder {
        padding: 15px;
        color: black;
    }
    .fa {
        font-size: 24px;
        transition: 0.1s;
    }
    .fa-close:hover {
        color: red;
        transition: 0.2s;
        transform: scale(1.5);
    }
    .fa-eye:hover {
        color: rgb(0, 202, 0);
        transition: 0.2s;
        transform: scale(1.5);
    }
}

button{
    margin-right: 20px;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    color: white;
    background-color: #157eab;
    border: white 2px solid;
    transition: 0.6s;

   
 

}
button:hover {
    cursor: pointer;
    background-color: white;
    color: #157eab;
    transition: 0.6s;
    border: #157eab 2px solid;
}

