.BackEndPage {
    width: 100%;
   .divsearch {
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    display: flex;
    }
    h1 {
        display: flex;
        font-family: monospace;
    }
    input {
        width: 20%;
        height: 25px;
        border-radius: 10px;
        background-color: #eee;
        border: none;
    }
    ::placeholder {
        padding: 15px;
        color: black;
    }
    .fa {
        font-size: 24px;
        transition: 0.5s;
    }
    .fa-close:hover {
        color: red;
        transition: 0.5s;
        transform: scale(1.5);
    }
    .fa-eye:hover {
        color: rgb(0, 202, 0);
        transition: 0.5s;
        transform: scale(1.5);
    }
}