.FrontEndPage {
    .Search {
        display: flex;
        align-items: center;
        margin: 15px;
        input {
            width: 20%;
            height: 25px;
            border-radius: 10px;
            background-color: #eee;
            border: none;
            margin-left: 22px;
        }
        ::placeholder {
            padding: 10px;
            color: black;
        }
    }
    width: 100%;
    h1 {
        display: flex;
        font-family: monospace;
    }
    main {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
        color: black;
        text-align: center;
        width: 90%;
        margin-left: 80px;
    }
}
