.CandidatFront {
    width: 100%;
}

.Maindiv{
    display: flex;

}
.Leftdiv{
    img{
        width: 400px;
        margin-left: 50px;
        border: 1px solid black;
        margin-top: 50px;
        background-color: rgb(206, 209, 211);
    }
}
.Rightdiv{
    display: flex;
    align-items: center;
    .Namebirth {
        .onediv {
        margin-left: 100px;
        }
        p {
        margin-top: 20px;
        font-size: 25px;
        margin-left: 25px;
        }
        h5{
            margin-top: 45px;
        }
    }  
    .Maileducation {
        .twodiv {
        margin-left: 100px;
        } 
        p {
            font-size: 25px;
            margin-top: 25px;
            margin-left: 25px;
        }
        h5{
            margin-top: 45px;
        }
    }
}


@media only screen and (max-width: 768px) {
    .Maindiv{
        flex-wrap: wrap;
    }
    .Rightdiv{
   
        flex-wrap: wrap;
    
    }
    h5{
        font-size: 18px;
        color: rgb(82, 82, 82);
    }
    .Leftdiv{
        margin-left: 35px;
    }
    .onediv{
        font-size: 14px;
    }

}